<div class="container border p-5 rounded" id="productList">
    <div class="d-flex justify-content-between mb-3">
        <input [(ngModel)]="searchText" placeholder="Search" class="form-control search" type="text" name="filter"
            id="filter">
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Customer</th>
                <th scope="col">Qtr</th>
            </tr>
        </thead>
        <tbody class="list">
            <ng-container *ngFor="let data of testData?.source | filter : searchText;let i = index;">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td class="Product">{{data?.Product}}</td>
                    <td class="Customer">{{data?.Customer}}</td>
                    <td class="Qtr">{{getQtrs(i)}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>